@model IEnumerable<Komputerowy_SHOP.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Dostępne produkty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*Wyszukiwarka*@
<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Nazwa: <input type="text" name="searchString" />

        Rodzaj: <select name="typ">
            <option value="">-----</option>
            <option value="0">Inne</option>
            <option value="1">Procesory</option>
            <option value="2">RAM</option>
            <option value="3">Karty graficzne</option>
            <option value="4">Dyski twarde</option>
        </select>

        @*sortowanie*@
        Sortuj po <select name="sortow">
            <option value="">-----</option>
            <option value="nazwa">Nazwa</option>
            <option value="cena">Cena</option>
        </select>
        <input type="submit" value="Filtruj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                <text> zł</text>
            </td>
            <td>
                @{
                    var ilosc = item.Amount;

                    if (ilosc >= 1)
                    {
                        <text>@ilosc szt.</text>
                    }
                    else
                    {
                        <text>Niedostępne</text>
                    }
                }

            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Type)
            </td>*@

        @*<td>
            @{ 
                var NazwaTypu = item.NazwaTypu(item.Id);
                <text>@NazwaTypu</text>
            }
        </td>*@
            <td>
                <text>@item.NazwaTypu()</text>
            </td>

            <td>
                @if (GlobalVar.GlobalUserType == 1) {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }

                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@

                @*skladanie URL do przekierowania*@
                @{
                    var url = new string("");
                }

                @switch (item.Type)
                {
                    case 1:
                        url = item.NazwaTypu();
                        break;
                    case 2:
                        url = item.NazwaTypu();
                        break;
                    case 3:
                        url = item.NazwaTypu();
                        break;
                    case 4:
                        url = item.NazwaTypu();
                        break;
                    default:
                        url = "Product";
                        break;
                }

                @{
                    url = url + "/Details/" + @item.Id;
                }

                @*jak typ "Inne" to bez Details*@
                @if (@item.Type != 0)
                {
                    <text><a href="@url">Details</a> |</text>
                }

                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

                @if (ilosc >= 1 && GlobalVar.GlobalUserType == 2)
                {
                    <a asp-action="Kup" asp-route-id="@item.Id">Kup</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
