@model IEnumerable<Komputerowy_SHOP.Models.Product>

@{
    ViewData["Title"] = "Koszyk";
}

<h1>Koszyk</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            @*<th>
                @Html.DisplayNameFor(model => model.Type)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0; }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zł
            </td>
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Zwrot" asp-route-id="@item.Id" asp-route="">Zwrot</a>*@

                @{
                    var url = "Zwrot/" + @item.Id + "?ktory=" + @i;
                }
                <a href="@url">Zwrot</a>
            </td>
        </tr>
         
            i += 1; 
       
}
        <tr>
            <td>
                <b>W sumie do zapłaty</b>
            </td>
            <td>
                <b>@GlobalVar.SumaDoZaplaty zł</b>
            </td>
            <td>
                @if (GlobalVar.SumaDoZaplaty > 0)
                {
                    <a asp-controller="Home" asp-action="Privacy">Płacenie</a> @*i wtedy odbylaby sie platnosc za towary*@
                }
            </td>
</tr>
    </tbody>
</table>
