@model Komputerowy_SHOP.Models.Ram

@{
    ViewData["Title"] = "Details";
}

<h1><text>@GlobalVar.GlobalProductName</text></h1>

<div>
    <h4>Specyfikacja</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_Product)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ddr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ddr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mhz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mhz)
        </dd>
    </dl>
</div>
<div>
    @if (GlobalVar.GlobalUserType == 1)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-controller="Product" asp-action="Index">Powrót</a>

</div>
