@model IEnumerable<Komputerowy_SHOP.Models.Ram>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mhz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mhz)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
