@model Komputerowy_SHOP.Models.Adres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kod_Pocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kod_Pocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
